PORT=3001
HEADLESS=false
SHIVER_TIMEOUT_MS=45000
SALA_URL=http://localhost:3000/sala
LANDING_URL=http://localhost:3000
SHIVER_LOGIN_URL=https://trade.shiverbroker.com/pt/login
SHIVER_TRADEROOM_URL=https://trade.shiverbroker.com/pt/traderoom
# PLAYWRIGHT_CHANNEL=msedge
